<a href="https://colab.research.google.com/github/satishgc227/Problem-statement-1-of-Horses/blob/main/Problem_statement_1_of_NYRA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import numpy as np

In [44]:
data=pd.read_csv("/content/edited complete.csv",encoding='latin1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
data.head()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,weight_carried,jockey,odds,position_at_finish
0,AQU,01-01-2019,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000,420,120.0,Andre Shivnarine Worrie,2090.0,8.0
1,AQU,01-01-2019,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000,420,120.0,Andre Shivnarine Worrie,2090.0,8.0
2,AQU,01-01-2019,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000,420,120.0,Andre Shivnarine Worrie,2090.0,8.0
3,AQU,01-01-2019,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000,420,120.0,Andre Shivnarine Worrie,2090.0,8.0
4,AQU,01-01-2019,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000,420,120.0,Andre Shivnarine Worrie,2090.0,8.0

data.shape

In [46]:
data.shape

(82256, 18)

In [49]:
data.isnull().sum()

track_id               0
race_date              0
race_number            0
program_number         0
trakus_index           0
latitude               0
longitude              0
distance_id            0
course_type            0
track_condition        0
run_up_distance        0
race_type              0
purse                  0
post_time              0
weight_carried         0
jockey                 0
odds                   0
position_at_finish     0
dtype: int64

In [48]:
data = data.dropna(how='any',axis=0)

In [50]:
data.isnull().sum()

track_id               0
race_date              0
race_number            0
program_number         0
trakus_index           0
latitude               0
longitude              0
distance_id            0
course_type            0
track_condition        0
run_up_distance        0
race_type              0
purse                  0
post_time              0
weight_carried         0
jockey                 0
odds                   0
position_at_finish     0
dtype: int64